.Jobs-item {
  border-radius: 20px;
  margin: 0 auto;
  height: 100%;
}

table {
  display: table;
}

.Salary-header {
  color: #169cee;
}

.Salary-button,
.Search-button {
  background-color: rgba(0, 0, 0, 0.03);
  color: #169cee;
  border-color: #169cee;
  position: relative;
}

.Salary-button:hover,
.Search-button:hover {
  background-color: #169cee;
  border-color: #169cee;
}

.SalaryForm {
  width: 5%;
  padding-right: 5%;
}

.Jobs-Search {
  text-align: center;
  /* margin: 0 auto accomplishes the same thing as offset-3 */
  margin: 0 auto;
}

tbody {
  display: table;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.Jobs-content {
  margin-right: 5%;
  padding-right: 5%;
}

#filter-descrip {
  color: #169cee;
  font-weight: 600;
  font-size: 1.7vmin;
  margin-top: 25px;
}
