.Company-nd {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Company-jobs {
  color: #007bff;
}

.Company-name {
  color: #007bff;
  font-weight: 900;
  letter-spacing: -1px;
  color: #169CEE;
}