.JobCard {
  text-align: center;
  border-radius: 15px;
  height: 100%;
}
  
.JobCard-button {
  background-color: rgba(0,0,0,.03);
  color: #169CEE;
  border-color: #169CEE;
  position: relative;
  width: 60%;
}

.JobCard-button:disabled {
  background-color: rgba(0,0,0,.03);
  color: #169CEE;
  border-color: #169CEE;
  position: relative;
  width: 60%;
}

.JobCard-button {
  background-color: rgba(0,0,0,.03);
  color: #169CEE;
}

.JobCard-title {
  color: #169CEE;
}

.JobCard-btn {
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
}

.Job-title {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#JobCard-active {
  background-color: rgba(22, 156, 238, 0.6);
  color: white;
}

#JobCard-active:hover {
  background-color: #169CEE;
  color: white;
  opacity: 1;
}