.Companies-list-item {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 650px;
}
.Companies-list-item:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.20);
  ;
}

.Companies-link:hover {
  text-decoration: none;
}

.Companies-list-item {
  height: 115px;
}

.Companies-search-button {
  background-color: white;
  color: #169CEE;
  border-color: #169CEE;
}

.Companies-search-button:hover{
  background-color: #169CEE;
  border-color: #169CEE;
}

.Companies-input{
  width: 85%;
}

.Companies-search {
  text-align: center;
  justify-content: center;
}