h2{
  font-family: 'alrightRegular';
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 70px;
  color: #169CEE;
}

.homeContainer {
  text-align: center;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}