/* .homeContainer {
  background: url("./images/building4.jpeg");
  content: '';
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

h2{
  font-family: 'alrightRegular';
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 70px;
  color: #169CEE;
}

.homeContainer {
  text-align: center;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}