.homeContainer {
  background: url("./images/building4.jpeg");
  content: '';
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2{
font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 35px;
  padding: 15px;
}