body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #0b0c10; */
  /* color: #66fcf1; */
  /* background: url("./images/skyscrapers.jpeg") no-repeat center center fixed; */
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .homeContainer {
  background: url("./images/skyscrapers.jpeg") no-repeat center center fixed;

} */