.JobCard {
  text-align: center;
  border-radius: 15px;
}
  
.JobCard-button {
  width: 200px !important;
  background-color: rgba(0,0,0,.03);
  /* color: #28a745; */
  color: #169CEE;
  border-color: #169CEE;
}

.JobCard-button:hover {
  background-color: #169CEE;
  border-color: #169CEE;
}

/* .JobCard-se {
  color: #007bff;
} */

.JobCard-title {
  color: #169CEE;
}

/* .JobCard:hover {
  color: #34ce57;
} */

/* .JobCard:hover .JobCard-title{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.20);
  background-color: #34ce57;
} */

.JobCard-btn {
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
}

