.Jobs-item {
  border-radius: 20px;
  margin: 0 auto;
  height: 100%;
}

table {
  display: table;
}


.Salary-header {
  color: #169CEE;
}

.Salary-button, .Search-button {
  background-color: rgba(0,0,0,.03);
  color: #169CEE;
  border-color: #169CEE;
  position: relative;

}


.Salary-button:hover, .Search-button:hover {
  background-color: #169CEE;
  border-color: #169CEE;
}

.Wow {
  height: 700px;
}

.SalaryForm {
  width: 5%;
  padding-right: 5%;
}

.Jobs-search {
  text-align: center;
  /* margin: 0 auto accomplishes the same thing as offset-3 */
  margin: 0 auto;
}

tbody{
  display: table;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.Jobsss {
  margin-right: 5%;
  padding-right: 5%
}

.x-jobs{
  margin-top: 10px;
}