#home-title{
  /* font-family: 'alrightRegular'; */
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 6.5vmin;
  color: #169CEE;
}
#home-slogan {
  font-size: 1.75vmin;
}

.homeContainer {
  text-align: center;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}